
.font-custom{
    font-family: 'Roboto', sans-serif;
}


  .auction-photo {
      width: 200px;
      height: 200px;
  }
  .btn-details {
      position: absolute;
      bottom: 0;
      right: 0;
  }
