{% load static %}

<header class="p-3 mb-3 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/"
           class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
        >
            <img height="75px"
                 width="75px"
                 src="{% static 'img/logo.png' %}"
                 alt="Logo"
            >
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
                <a href="/" class="nav-link px-2 link-body-emphasis">
                    <h2 style="font-family: 'Protest Revolution', sans-serif; padding-left: 10px; padding-right: 10px">Abaldui</h2>
                </a>
            </li>
            <li class="mt-2">
                <a href="/auction" class="nav-link px-2 link-body-emphasis">Аукціони</a>
            </li>
            <li class="mt-2">
                <a href="/auction/my-auctions" class="nav-link px-2 link-body-emphasis">Мої аукціони</a>
            </li>
            <li class="mt-2">
                <a href="/auction/my-lots" class="nav-link px-2 link-body-emphasis">Мої лоти</a>
            </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post" action="/auction/">
            <input name="query" type="search"
                   class="form-control"
                   placeholder="Search..."
                   aria-label="Search"
            />
        </form>
        {% if request.user.is_authenticated %}
            <div class="dropdown text-end">
                <a href="#"
                   class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"
                >
                  <img
                    src="/{{ request.user.avatar  }}"
                         width="32"
                         height="32"
                         class="rounded-circle"
                    />
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li>
                        <a class="dropdown-item" href="/auction/create-auction">Створити аукціон</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Налаштування</a></li>
                    <li>
                        <a class="dropdown-item" href={% url "account" %}>Профіль</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/accounts/logout/?next=/">Вийти</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url "account" %}"
               class="d-block link-body-emphasis text-decoration-none me-3"
            >
                <img src="{% static "img/unregistered_user.png" %}"
                     width="33"
                     height="33"
                     class="rounded-circle"
                />
            </a>
        {% endif %}
    </div>
</header>
