{% extends "base.html" %}

{% block content %}
  {% load static %}
  <style>
      .auction-container {
      background-color: lightgray;
      margin-bottom: 35px;
      position: relative;
      max-height: 235px;
  }
      .auction-list-container {
      background-color: aliceblue;
      margin-bottom: 10px;

  }
  .auction-photo {
      margin: 10px;
      padding: 5px;
      width: 200px;
      height: 200px;
  }
  .btn-details {
      position: absolute;
      bottom: 0;
      right: 0;
  }</style>
  <h1 style="text-align: center">Мої аукціони</h1>
    <a href="/auction/create-auction"><button type="button"  class="btn btn-primary">Створити аукціон</button></a>
  {% if auctions %}
    <div class="container mt-5 auction-list-container">
  {% for auction in auctions %}
        <!-- Аукціон 1 -->
        <div class="row auction-container">
            <div class="col-md-3">
                <img src="/media/{{ auction.image }}" alt="Фото аукціону" class="img-thumbnail auction-photo">
            </div>
            <div class="col-md-9">
                <h2>{{ auction.name}} - Дата початку: {{ auction.str_date }}</h2>
                <h5>Стартова ціна: {{ auction.start_price }}
                Мінімальна ставка: {{ auction.minimal_bet }}
                Ціна викупу: {{ auction.price_of_ransom }}</h5>
                <p>{{ auction.description }}</p>
                <a href="/auction/{{ auction.id }}/" class="btn btn-primary btn-details">Детальніше</a>
                <!-- Додайте інші елементи форми тут -->
            </div>
    </div>
    {% endfor %}
        </div>

    {% else %}
        <p>В тебе немає аукціонів</p>
    {% endif %}
      

{% endblock %}
