{% extends "base.html" %}

{% block content %}
  {% load static %}
  <style>
        body {
            background-color: #ffffff; /* Світло-сірий фон */
            color: #555; /* Темний сірий колір для тексту */
        }

        .container {
            margin-top: 20px;
            border-radius: 10px; /* Закруглені кути рамки */
            padding: 20px; /* Відступ всередині контейнера */
            box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Тінь */
            border: 1px solid #ccc; /* Рамка навколо контейнера */
        }

        img {
            max-width: 100%;
            height: auto;
        }

        h1 {
            color: #343a40; /* Темно-сірий колір для заголовків */
        }

        p {
            color: #777; /* Світло-сірий колір для тексту */
        }
    </style>


  {% if lots %}

  <div class="mb-2">
  {% for lot in lots %}
    <div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="auction_image.jpg" alt="Зображення аукціону" class="img-fluid">
        </div>
        <div class="col-md-10">
            <h1>{{ lot.auction.name}}</h1>
        </div>
    </div>
    <hr> <!-- Роздільна лінія -->
    <div class="row">
        <div class="col-md-12">
            <p><strong>Дата початку:</strong> {{ lot.auction.str_date }}</p>
            <p><strong>Стартова ціна:</strong> ${{ lot.auction.start_price}}</p>
            <p><strong>Мінімальна ставка:</strong> ${{ lot.auction.minimal_bet}}</p>
            <p><strong>Ціна викупу:</strong> ${{ lot.auction.price_of_ransom}}</p>
            <p><strong>Поточна ставка:</strong> ${{ lot.auction.current_bet}}</p>
            <p><strong>Час створення лоту:</strong> {{ lot.str_date }}</p>
            <hr>
        </div>
    </div>
        <div class="row">
        <div>
            <div class="d-flex justify-content-center align-items-center">
                <a href="/auction/{{ auction.id }}/"><button class="btn btn-primary">Перейти до аукціону</button></a>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
  {% else %}
        <p>В тебе немає лотів!!!</p>
    {% endif %}
</div>
{% endblock %}
