{% extends "base.html" %}

{% block content %}
  {% load static %}
  <img href="{% static "img/logo.jpg" %}">
  <h1 style="text-align: center">Вітаємо на аукціоні "ABALDUI"</h1>
  <h3 style="text-align: center">Тут ви зможете вдало і вигідно отримати бажний товар</h3>
<div style="padding-left: 10px;">
  <h4>1. Реєстрація та умови участі:</h4>
   <p>Для участі в аукціоні потрібно зареєструватися.</p>
   <p>Визначте, хто може брати участь (наприклад, лише зареєстровані користувачі).</p>
<h4>2. Ставки та підвищення ціни:</h4>
<p>Учасники можуть робити ставки на лоти.</p>
<p>Визначте мінімальний крок підвищення ціни</p>

  <h4>3. Контроль якості товарів:</h4>
<p>Перевіряйте товари перед виставленням на аукціон.</p>
<p>Вказуйте стан товару (новий, б/в, дефектний тощо).</p>
<h4>4. Терміни та умови продажу:</h4>
<p>Вказуйте, які терміни діють для кожного лоту (наприклад, час завершення аукціону).</p>
</div>
{% endblock %}
