{% extends "base.html" %} {% block content %} {% load static %}
<div class="container">
    <form class="form-signin" action="" method="post">
      {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Увійти:</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input
            type="text"
            id="inputUsername"
            name="username"
            class="form-control"
            placeholder="Enter username"
            required=""
            autofocus=""
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required=""
        />
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" /> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}

{% block title %}
      <title>Sign-in</title>
{% endblock %}